/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 200px;
}

.form {
  width: 40vw;
  padding: 8px;
}

.form-text{
  text-align: center;

}

.login-btn{
  margin: 8px;
  padding: 100px;
}

.planControlContainer {
  display: flex;
  justify-content:space-between  ;
  
}
.button-group{
 padding: 0.5% 1.5%;
}
.chart-container{
 width: 200;
 height: 200;
}

.summery-card-container{
  height: 220px;
  width: 400px;
}

.center-content-container{
  display: flex;
  justify-content: center;

}
@media (max-width: 841px) {
  .summery-card-container{
    height: 220px;
    width: 100vw;
  }
  .planControlContainer{
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .form-container {
    /* display: flex;
    justify-content: center;
    align-content: center; */
    margin-top: 15vh;
    padding: 1vw;
  }
.form {
  width: 100vw;
  padding: 8px;
}
}