/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/*forms */
.form-background {
  background-color: #F4F5F7;
  height: 100vh;
  width: 100vw;
}

.form-container {
  display: flex;
  justify-content: center;
  padding-top: 20vh;

}

.form {
  width: 40vw;
  padding: 15px;
}

.form-text{
  text-align: center;

}

.login-btn{
  margin: 8px;
  padding: 100px;
}

.planControlContainer {
  display: flex;
  justify-content:center  ;
  
}
.planShortControlContainer {
  display: flex;
  justify-content:center  ;
  
}
.button-group{
 padding: 0.5% 1.5%;
}
.chart-container{
 width: 380px;
 padding-top: 4px;
}

.summery-card-container{
  height: 230px;
  width: 400px;
}

.center-content-container{
  display: flex;
  justify-content: center;

}

.card-background {
  background-color: #F4F5F7;
}
#add-btn {
  position: fixed;
  right: 4%;
  bottom: 6%;
  z-index: 1;
}

@media (max-width: 841px) {
  .summery-card-container{
    height: 230px;
    width: 100vw;
  }
  .planControlContainer{
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .form-container {
    padding: 15vh 1vw;
   
  }
.form {
  width: 90vw;
  padding: 10px;
}

}

@media (max-width: 441px) {
  
.chart-container{
  width: 90vw;
  padding-top: 2vh;
 }
}

