/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 200px;
}

.form {
  width: 40vw;
  padding: 8px;
}

.form-text{
  text-align: center;

}

.login-btn{
  margin: 8px;
  padding: 100px;
}

.planControlContainer {
  display: flex;
  justify-content: space-between  ;
  
}
.control-panel{
  display: flex;
  padding: 0 5%;
}
.plan-summery-container{
  display: flex;
  justify-content: center;
}

#date-range{
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 2%;
}
